<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">

    <title>Publish</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/js.cookie.js"></script>

    <script type="text/javascript">
        var cookieName = 'lastPage';
        function setLastPage(){
            var lastPage =  decodeURIComponent(Cookies.get(cookieName));
            $('.file-name a').closest('td').removeClass('last-page');
            $('.file-name a').each(function(i ,e){
                if($(e).attr('href') === lastPage){
                    $(e).closest('td').addClass('last-page');
                    return false;
                }
            })
        }

        var isSafari = /Safari/.test(navigator.userAgent) && /Apple/.test(navigator.vendor);
        if(isSafari){
            setLastPage();
            setInterval(function(){
                setLastPage();
            }, 300)
        }

        $(document).ready(function(){
            setLastPage();
            $('.refresh').click(function(){
                window.location.reload();
            })
        })

        function moveTo(path, isFile){
            if(isFile) Cookies.set(cookieName, encodeURIComponent(path));
            window.location.href = path;
        }
    </script>
</head>

<body>

    <div class="publish-title">
        <label>Publish List</label>
        <span class="path"><%= path !== '' ? '( '+path+' )' : '' %></span>
        <img class="refresh" src="/images/refresh.svg" width="18px">
    </div>

    <div class="publish">
        <table class="file-table">
            <colgroup>
                <col style="width:30px;" />
                <col style="width:auto;" />
                <col style="width:80px;" />
                <col style="width:145px;" />
            </colgroup>

            <tr class="folders" onclick="moveTo('<%= (prevPath === '' ? '/' : prevPath)  %>')">
                <td><img src="/images/folder.svg"></td>
                <td class="folder-name prev-folder">..</td>
                <td class="file-size"></td>
                <td class="date"></td>
            </tr>

            <% for(var i=0; i < folderArr.length ; i++) { %>
            <tr class="folders" onclick="moveTo('<%= (path === '/' ? '' : path) + '/' + folderArr[i]  %>')">
                <td><img src="/images/folder.svg"></td>
                <td class="folder-name"><%= folderArr[i] %></td>
                <td class="file-size"></td>
                <td class="date"></td>
            </tr>
            <% } %>

            <% for(var i=0; i < fileArr.length ; i++) { %>
            <tr class="files" onclick="moveTo('<%= (path ==='/' ? '' : path) + "/" + fileArr[i].fileName %>', true)">
                <td><img src="/images/<%= fileArr[i].icon %>.svg"></td>
                <td class="file-name">
                    <a href="<%= (path ==='/' ? '' : path) + '/' + fileArr[i].fileName %>">
                        <%= fileArr[i].fileName %>
                        <img src="/images/new.svg" width="12px" class="<%= fileArr[i].isRecentCreated ? '' : 'hide' %>">
                        <img src="/images/updated.svg" width="12px" class="<%= fileArr[i].isRecentUpdated ? '' : 'hide' %>">
                    </a>
                </td>
                <td class="file-size"><%= fileArr[i].size %></td>
                <td class="date"><%= fileArr[i].mDate %></td>
            </tr>
            <% } %>
        </table>
    </div>

</body>

</html>
