<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">

   <title>HY's Repository</title>

   <link rel='stylesheet' href='/css/style.css' />
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   <script src="/js/js.cookie.js"></script>
   <script src="/js/common.js"></script>
   <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

   <script type="text/javascript">
      var cookieName = 'lastPage';
      var isMobile = $(window).width() >= 767 ? true : false;
      var isSafari = /Safari/.test(navigator.userAgent) && /Apple/.test(navigator.vendor);
      if (isSafari) {
         setLastPage();
         setInterval(function () {
            setLastPage();
         }, 300)
      }

      var url = new URL(location.href);
      $(document).ready(function () {
         setLastPage();
         $('.refresh').click(function () {
            window.location.reload();
         })

         /************** button-list *****************/
         $('.button-list button').click(function (e) {
            e.stopPropagation();
            $(this).find('+ ul').toggleClass('active');

         })
         $('body').click(function (e) {
            $('.button-list ul').removeClass('active');
         })

         /*************** sort ***********************/
         $('#cboSort').val(url.searchParams.get('sort') || 1);
         $('#cboSort').change(function () {
            url.searchParams.set('sort', this.value);
            moveTo(url.toString());
         })

         /************* Filter **************/
         var urlFilter = url.searchParams.get('filter');
         if (urlFilter) {
            Cookies.set('filter', encodeURIComponent(urlFilter))
            $('#txtFilter').val(urlFilter);
            url.searchParams.delete('filter');
            window.history.pushState({}, null, url.toString());
         } else {
            $('#txtFilter').val(decodeURIComponent(Cookies.get('filter') || ''));
         }
         $('#txtFilter').on('keyup', listFileter);
         $('#txtFilter').trigger('keyup');
         // txtFilter.dispatchEvent(new Event('keyup'));
         /************* Filter **************/


         /************* Search **************/
         $('#txtSearch').on('keyup', function (e) {
            if (e.keyCode === 13) { // Enter
               // url.searchParams.set('search', this.value);
               // window.history.pushState({}, null, url.toString());
               window.location.href = '/__file/search?searchText=' + this.value + '&rootUrl=' + location
                  .pathname;
            }

            if (!e.target.value || e.target.value == '') {
               $(e.target).parent().find('button').hide();
            } else {
               $(e.target).parent().find('button').show();
            }
         });
         $('#txtSearch').trigger('keyup');
         /**************************************/

         /*************** upload ***************/
         var uploadProgressView = function (e) {
            if (e.lengthComputable) {
               var max = e.total;
               var current = e.loaded;
               var percentage = parseInt((current * 100) / max);
               progressBar(true, percentage);
            }
         }
         $('.btn-upload').click(function () {
            $('#uploadFile').click();
         })

         $("#uploadFile").change(function () {
            var data = new FormData();
            $.each($('#uploadFile')[0].files, function (i, file) {
               data.append('file-' + i, file);
            });
            $.ajax({
               url: '/__file/upload?path=' + location.pathname,
               data: data,
               cache: false,
               contentType: false,
               processData: false,
               method: 'POST',
               success: function (data) {
                  alert('업로드 완료!')
                  window.location.reload();
               },
               xhr: function () {
                  var myXhr = $.ajaxSettings.xhr();
                  if (myXhr.upload) {
                     myXhr.upload.addEventListener('progress', uploadProgressView, false);
                  }
                  return myXhr;
               },
               error: function (err) {
                  alert('업로드 에러가 발생하였습니다.');
                  progressBar(false);
                  console.log(err);
               }
            });
         });

         /****************** new folder ***********************/
         $('.btn-newfolder').click(function () {
            var folderName = prompt("생성할 폴더명을 입력해주세요", "");
            console.log(folderName);
            if (folderName == null) return;
            if (folderName.trim() == '') {
               alert('폴더명을 입력해주세요');
            } else {
               $.ajax({
                  url: '/__file/newfolder',
                  data: {
                     folderName: folderName,
                     path: location.pathname,
                  },
                  method: 'POST',
                  success: function (data) {
                     if (data.errorMsg) {
                        alert(data.errorMsg);
                     } else {
                        window.location.reload();
                     }
                  },
                  error: function (err) {
                     console.log(err);
                  }
               });
            }
         })


         /********************************************************************************/
         $('.file-contents').show();
      })

      function progressBar(isShown, percent) {
         if (isShown) {
            $('.upload-progress').show();
            $('.upload-progress').css('width', percent + '%');

         } else {
            $('.upload-progress').hide();
            $('.upload-progress').css('width', '0');
         }
      }

      function setLastPage() {
         var lastPage = decodeURIComponent(Cookies.get(cookieName));
         $('.file-name a').closest('td').removeClass('last-page');
         $('.file-name a').each(function (i, e) {
            if ($(e).attr('href') === lastPage) {
               $(e).closest('td').addClass('last-page');
               return false;
            }
         })
      }

      function listFileter(e) {
         if (!e.target.value || e.target.value == '') {
            $('.file-table tr').show();
            $(e.target).parent().find('button').hide();
         } else {
            $(e.target).parent().find('button').show();
            $('.file-table tr').each(function (i, item) {
               if ($(item).find('.file-name').text().toLowerCase().trim().indexOf(e.target.value
                     .toLowerCase()) < 0) {
                  $(item).hide();
               } else {
                  $(item).show();
               }
            })
         }
         if (e.keyCode === 13) { // Enter
            $(e.target).blur();
         }
      }

      function clearFilter() {
         var txtFilter = document.querySelector('#txtFilter');
         txtFilter.value = '';
         Cookies.set('filter', '');
         txtFilter.dispatchEvent(new Event('keyup'));
      }

      function clearSearch() {
         var txtSearch = document.querySelector('#txtSearch');
         txtSearch.value = '';
         Cookies.set('search', '');
         txtSearch.dispatchEvent(new Event('keyup'));
      }
   </script>
</head>

<body>
   <div class="body-wrap">
      <div class="top-title">
         <label><a href="/">Repository</a></label>
         <span class="path"><%= path !== '' ? '( '+path+' )' : '' %></span>
         <img class="refresh" src="/images/refresh.svg" width="18px">
      </div>
      <div class="condition-area">
         <div class="condition-area-wrap">
            <% if(useSearch){ %>
            <div class="search-filter">
               <input type="text" id="txtSearch" placeholder="Search File">
               <button onclick="clearSearch();"></button>
            </div>
            <% } %>
            <div class="search-filter">
               <input type="text" id="txtFilter" placeholder="Filter Name">
               <button onclick="clearFilter();"></button>
            </div>
            <select name="" id="cboSort">
               <option value="1">이름 내림차순</option>
               <option value="2">이름 오름차순</option>
               <option value="3">날짜 내림차순</option>
               <option value="4">날짜 오름차순</option>
            </select>
            <% if(useUpload || isAdmin){ %>
            <div>
               <input type="file" name="uploadFile" id="uploadFile">
               <button class="btn-upload" title="파일 업로드">&nbsp;</button>
            </div>
            <% } %>
            <% if(canCreateFolder || isAdmin){ %>
            <div>
               <button class="btn-newfolder" title="폴더 생성">&nbsp;</button>
            </div>
            <% } %>
         </div>
         <div class="upload-progress"></div>
      </div>

      <div class="file-contents" style="display:none;">
         <table class="file-table">
            <colgroup>
               <col style="width:30px;" />
               <col style="width:auto;" />
               <col style="width:80px;" />
               <col style="width:145px;" />
               <col style="width:30px;" />
               <% if(isAdmin){ %>
               <col style="width:30px;" />
               <% } %>

            </colgroup>
            <tbody>
               <tr class="folders prev-folder">
                  <td onclick="moveTo('<%= (prevPath === '' ? '/' : prevPath)  %>')"><img src="/images/folder.svg">
                  </td>
                  <td class="file-name prev-folder" onclick="moveTo('<%= (prevPath === '' ? '/' : prevPath)  %>')">..
                  </td>
                  <td class="file-size"></td>
                  <td class="date"></td>
                  <td></td>
                  <% if(isAdmin){ %>
                  <td></td>
                  <% } %>
               </tr>

               <% for(var i=0; i < folderArr.length ; i++) { %>
               <tr class="folders">
                  <td onclick="moveTo('<%= (path === '/' ? '' : path) + '/' + folderArr[i].fileName  %>')"><img
                        src="/images/folder.svg"></td>
                  <td class="file-name"
                     onclick="moveTo('<%= (path === '/' ? '' : path) + '/' + folderArr[i].fileName  %>')">
                     <%= folderArr[i].fileName %></td>
                  <td class="file-size"></td>
                  <td class="date"><%= folderArr[i].mDate %></td>
                  <td class="copy" title="copy to clipboard"
                     onclick="copyToClip('<%= (path === '/' ? '' : path) + '/' + folderArr[i].fileName +'/'  %>', this)">
                  </td>
                  <% if(isAdmin){ %>
                  <td class="admin-options">
                     <div class="button-list">
                        <button></button>
                        <ul>
                           <li onClick="deleteFile('<%= path %>', '<%= folderArr[i].fileName %>')">삭제</li>
                           <li onClick="changeName('<%= path %>', '<%= folderArr[i].fileName %>')">이름변경</li>
                        </ul>
                     </div>
                  </td>
                  <% } %>
               </tr>
               <% } %>

               <% for(var i=0; i < fileArr.length ; i++) { %>
               <tr class="files">
                  <td class="thumb"
                     onclick="moveTo('<%= (path ==='/' ? '' : path) + '/' + fileArr[i].fileName %>', true)">
                     <% if(fileArr[i].isImage){ %>
                     <div style="background-image: url('<%= (path ==='/' ? '' : path) + '/' + fileArr[i].fileName %>')">
                     </div>
                     <% } else { %>
                     <img src="/images/<%= fileArr[i].icon %>.svg">
                     <% } %>
                  </td>
                  <td class="file-name"
                     onclick="moveTo('<%= (path ==='/' ? '' : path) + '/' + fileArr[i].fileName %>', true)">
                     <a href="<%= (path ==='/' ? '' : path) + '/' + fileArr[i].fileName %>">
                        <%= fileArr[i].fileName %>
                        <img src="/images/new.svg" width="12px" class="<%= fileArr[i].isRecentCreated ? '' : 'hide' %>">
                        <img src="/images/updated.svg" width="12px"
                           class="<%= fileArr[i].isRecentUpdated ? '' : 'hide' %>">
                     </a>
                  </td>
                  <td class="file-size"><%= fileArr[i].size %></td>
                  <td class="date"><%= fileArr[i].mDate %></td>
                  <td class="copy" title="copy to clipboard"
                     onclick="copyToClip('<%= (path ==='/' ? '' : path) + '/' + fileArr[i].fileName %>', this)"></td>

                  <% if(isAdmin){ %>
                  <td class="admin-options">
                     <div class="button-list">
                        <button></button>
                        <ul>
                           <li onClick="deleteFile('<%= path %>', '<%= fileArr[i].fileName %>')">삭제</li>
                           <li onClick="changeName('<%= path %>', '<%= fileArr[i].fileName %>')">이름변경</li>
                        </ul>
                     </div>
                  </td>
                  <% } %>
               </tr>
               <% } %>

            </tbody>

         </table>
      </div>


   </div>


</body>

</html>